body {
  background-color: #621402; /*цвет фона страницы*/
  font-family: "Roboto", sans-serif; /*задаем для всей страницы шрифт импортированный из Google*/
}
.container {
  max-width: 1170px; /*задаем ширину элемента (здесь - заголовка)*/
  margin: auto; /*горизонтальное выравнивание по центру*/
}
.header {
  display: flex; /*горизонтальное расположение элементов заголовка*/
  align-items: center; /*выравнивание элементов по вертикали относительно центральной линии*/
  padding-top: 30px; /*отступ перед заголовком (сверху)*/
  padding-bottom: 30px; /*отступ после заголовка (снизу)*/
}
.menu {
  list-style: none; /*убираем точки у элементов меню*/
  display: flex; /*вертикальный список в горизонтальный*/
  margin: 0; /*убираем отступы сверху/снизу у строки меню*/
  margin-left: 17px; /*отступ у меню слева (от Logo)*/
}
.menu-item {
  margin-right: 25px; /*отступ у элементов меню справа*/
}
.menu-link {
  color: white; /*цвет элементов меню*/
  text-decoration: none; /*убираем подчеркивание текста*/
}
.user {
  margin-left: auto; /*переносим блок в право*/
  color: white; /*цвет текста*/

  /*выравниваем текст по центр автарки*/
  display: flex;
  align-items: center;
}
.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%; /*закругление аватарки*/
  margin-left: 11px; /*отступ слева от аватара*/
}
